
img {
    display: block;
    max-width: 100%;
     height: auto;
   
}


/* layouts  ge */



.formats-section__title  {
    margin-top: 0;
    text-align: center;
    font-size: 64px;
    background-color: rgb(63, 194, 251);
    border: 2px solid brown;
}

.formats-section__slider {
 display: flex;
 background-color: rgb(175, 188, 254);
border: 1px solid #31261a;
    align-items: center;
    gap: 32px; 
}

.swiper-container {
    background-color: rgb(177, 162, 178);
    overflow: hidden;
    flex-shrink: 1;
    
}

.swiper-slide {
    max-width: 350px;
    background-color: #b2c792;
    flex-shrink: 0;
    @media screen and (min-width: 400px) {
  
}  
}


.swiper-slide:active {
    transform: scale(2);
     z-index: 1;

} 
.swiper-wrapper {
    display: flex;
    flex-direction: row;
    margin-bottom: 32px;
    
}



/* card-style */
.formats-card {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 456px;
    border-radius: 16px;
    padding: 24px;
    max-width: 350px;


    background: linear-gradient(
        180deg,
        rgba(49, 38, 26, 0) 55.21%,
        rgba(49, 38, 26, 0.71) 72.92%,
        var(--color-primary-dark) 100%)
}

/* remove */
.new-image {
    border-radius: 16px 16px 16px 16px
}

.formats__image {
    
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 444px;
}

.formats-title {
    position: absolute;
    top: 162px;
    left: 40px;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.5;
    color: var(--color-prymary-light);
    margin-bottom: 16px;
}

.formats-text {
    position: absolute;
 
    top: 210px;
    padding: 24px 16px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--color-prymary-light);
    margin: 0 auto;
    gap: 8px;
}
 

