.text-brand {
  color: var(--color-secondary);
}

.text-brand-dark {
  color: var( --color-primary-dark);
}

.text-bold {
  font-weight: 600;
}

.text-uppercase {
  text-transform: uppercase;
}
.text-brand-color {
  color: var(--color-brand);
}
h4 {
  text-align: center;
  font-size: 40px;
}