:root {
  --color-brand: #acc358;
  --color-primary-light: #e9f1f5;
  --color-primary-dark: #453e4c;

  --color-secondary: #6f578d;
  --color-secondary-light: #cfcfbc;
  --color-secondary-dark: #2c1e35;

  $bp-mobile: 480px;
  $bp-tablet: 768px;
  $bp-desktop: 1280px;
}

$breakpoint__mobile: 480px;
$breakpoint__tablet: 768px;
$breakpoint__desktop: 1280px;

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;
