.formats-section__title  {
  margin-top: 0;
  text-align: center;
  font-size: 64px;
  margin-bottom: 40px;
}

.formats-section__slider {
display: flex;
  align-items: center;
  gap: 32px; 
}

.swiper-container {
  
  overflow: hidden;
  padding-top: 60px;

  
}

.swiper-slide {
 
  margin-bottom: 80px;
  flex-shrink: 0;
  @media screen and (min-width: 400px) {
}  
}

.swiper-slide:active {
  transform: scale(1.2);
   z-index: 2;

} 

.swiper-slide:hover {
 transform: scale(1.2);
}


